* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #deffdd;
    font-size: 1.25rem;
    max-width: 100%;
}